.box{
    height: 80px;
    width: 80px;
    border: 1px solid red;
    margin-left: 10px;
    display: inline-block;

}
#parent{
    background: yellowgreen;
    padding: 10px;
    height: 200vh;
    border-bottom: 5px solid black;
}
#childDiv3{
    position:absolute;
    /* top: 20px; */
    right: 20px;
    left: 20px;
    bottom: 10px;
}
#myimg{
    /* filter: drop-shadow(10px 0px 5px red); */
    box-shadow: 8px 8px 8px red ;
}

.marquee img{
    margin-left: 10px;
    border-radius: 10px;
    filter: drop-shadow(10px 0px 5px red);
}
/* 
position: static // it is by default

position : relative
relative to its actual posation

podation : absolute
relative to its first parent

posation : fixed;

relative to the window size;
where ever you want to put it will be fixed

position : sticky;
position relative to its actual position 
Only accept the top attribute
it will sticked to it's actual position even on scroll 
it will not go up of the parent where its belong.


*/