*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top,#fff,transparent);
    z-index: 1000;
}

section img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative; 
    color: #fff;
    font-size: 10vw;

}
.sec{
    position: relative;
    padding: 100px;
}
.sec h4
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #20496a;
}
.sec p
{
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #20496a;
    text-align: justify;
}